.listOfEmployeesComponent {
 text-align: center;
}

.listOfEmployeesComponent ol {
 padding: 0 2rem;
}

.listOfEmployeesComponent li {
 padding: 0.3rem;
}

.listOfEmployeesComponent-functions {
 display: block;
 margin-bottom: 1rem;
 padding: 0.5rem 1rem;
 cursor: pointer;
 border-radius: 0.5rem;
 background-color: var(--colour-main-dark);
 color: var(--colour-white);
}

.listOfEmployeesComponent-functions:hover {
 color: var(--colour-accent)
}

@media (min-width:600px) {
 .listOfEmployeesComponent-functions {
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 0;
 }
}