.createNewEmployeeContainer {
 text-align: center;
}

.createNewEmployeeContainer div {
 padding-bottom: 1rem;
}

.createNewEmployeeContainer label {
 display: block;
 color: #5f4528;
 font-weight: 800;
}

@media (min-width:600px) {
 .createNewEmployeeContainer label {
  display: inline-block;
  padding-right: 1rem;
 }
}