.hrPanelNavContainer{
text-align: center;
 background-color: var(--colour-main-dark);
}
.hrPanelNavContainer span{
 padding-left: 0.5rem;
 font-weight: 700;
 font-size: 1.5rem;
}

@media (min-width:600px){
 .hrPanelNavContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
}