:root {
 --colour-main-light: #e5cca5;
 --colour-main-dark: #9b7e5d;
 --colour-accent: #55553c;
 --colour-black: #000000;
 --colour-white: #ffffff;
}

* {
 box-sizing: border-box;
}

body {
 margin: 0;
 font-family: 'Oswald', sans-serif;
 background-color: var(--colour-main-light);
 color: var(--colour-accent);
}

.app {
 height: 100vh;
 width: 100vw;
}