.listOfEmployeesComponent {
 display: flex;
 flex-direction: column;
 align-items: center;
 min-width: 60%;
}

.listOfEmployeesComponent ol {
 min-width: 60%;
}

@media (min-width: 350px) {
 .listOfEmployeesComponent p.buttonContainer.link {
  display: inline-block;
 }

 .listOfEmployeesComponent-functions>p {
  min-width: 30%;
 }
}